# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d
*.cpp.o.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Debug/pascal_compiler

# IDE
*.project
*.mk

\.codelite/

*.workspace

Makefile

src/saida\.txt

src/teste\.txt

src/main

Debug/saida\.txt

pascal-project\.txt

# CLion
.idea/

# CMake
cmake-build-debug/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE
*.project
*.mk

\.codelite/

*.workspace

Makefile

src/saida\.txt

src/teste\.txt

src/main

Debug/saida\.txt

pascal-project\.txt

Debug/makefile.txt